*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

figcaption
{
    display: flex;
    justify-content: center;
}



ol li 
{
    display: inline-block;       
}

ol
{
    padding: 1rem 2rem;
    display:flex;
    justify-content: space-between;
    
}

img 
{
    width: 15.0rem;
    height: 15.0rem;
    border-radius: 3rem;
}

a 
{ 
    margin-top: 1.0rem;
    display:block
}

video 
{
    width: 35.0rem;
    height: 25.0rem;
}

.Grupo 
{
    border:0.2rem dotted gray;
    border-radius: 0rem 0rem 5rem 5rem;
    margin: 3rem;
    list-style-type:none;    
}

.Grupo > p
{
    text-align: center;
    border:double;
    text-transform: uppercase;

}
