*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

figcaption
{
    display: flex;
    justify-content: center;
}

ol li 
{
    display: inline-block
}

img 
{
    width: 15.0rem;
    height: 15.0rem;
}

a 
{ 
    margin-top: 1.0rem;
    display:block
}

video 
{
    width: 35.0rem;
    height: 25.0rem;
}
