*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color:darkgray;
}

figcaption
{
    display: flex;
    justify-content: center;
}



ol li 
{
    display: inline-block;       
}

ol
{
    padding: 1rem 2rem;
    display:flex;
    justify-content: space-evenly;
    
}

img 
{
    width: 15.0rem;
    height: 15.0rem;
    border-radius: 3rem;
}

a 
{ 
    margin-top: 1.0rem;
    display:block
}

video 
{
    width: 35.0rem;
    height: 25.0rem;
}

.Grupo 
{
    border:0.2rem dotted black;
    border-radius: 0rem 0rem 5rem 5rem;
    margin: 3rem;
    list-style-type:none; 
}


.Grupo > p
{
    font-style: oblique;
    text-align: center;
    border:double red;
    text-transform: uppercase;
    color:red;
    background-color:bisque;


}



h1, h2, h3 
{
    text-align: center;
}

.Uno
{
    background-color: lightgreen;
}

.Dos
{
    background-color: lightpink;
}

.Tres
{
    background-color: goldenrod;
}


.Cuatro
{
    background-color: lightblue;
}

.Cinco
{
    background-color: lightsalmon;
}


.Subtitulo
{
    background-color: blue;
    color: whitesmoke;
    padding: 1.5rem;
    border-radius: 2rem;
    margin: 1.5rem;
}

header
{
    background-color: rgb(0, 0, 0);
    color:red;
    margin:0;
    padding: 2rem;
}


form
{
    margin:2rem;
    background-color: white;
    padding:1rem;
}

form label
{
    display: inline-block;
}

form > input 
{
    display:block;
    width: 15rem;
    height: 3rem;
       
}

footer
{
    background-color: black;
    color:red;
    padding:2rem;
    
}

footer p 
{
 text-align: center;
}